.nav-item,
.nav-item-active {
  font-size: 14px;
}

.nav-item-active {
  position: relative;
}

.nav-item-active::after {
  background-color: white;
  bottom: -5px;
  content: ' ';
  height: 2px;
  left: 0;
  position: absolute;
  transition: all 300ms;
  width: 100%;
}
