.confirmation-data-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 20px;

  li {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    text-align: left;
    align-items: center;

    .confirmation-data-label {
      color: #676767;
      font-size: 14px;
    }

    .confirmation-data-value {
      font-size: 16px;
    }
  }
}

.confirmation-next-btn {
  @apply bg-red-600 hover:bg-red-700 sm:text-2xl;
  width: 100%;
  color: white;
  font-size: 24px;
  padding: 12px 24px;
  border-radius: 4px;
  transition: 300ms;
  margin-top: 24px;
  font-weight: 500;
}
