.landing-bg-image {
  background-color: #fff;
  background-image: url('/login-bg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  width: 100%;
}

@media (min-width: 1024px) {
  .landing-bg-image {
    height: 100vh;
  }
}
