.landing-bg-image {
  background-color: #fff;
  background-image: url('/login-bg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  width: 100%;
}

.landing-section-container {
  background-color: black;
  margin-bottom: 10px;
}

.landing-section {
  padding: 72px 24px;
  text-align: center;

  margin: auto;
  max-width: 1024px;

  h2 {
    font-weight: 700;
    font-size: 32px;
  }

  p {
    font-size: 18px;
  }

  .landing-img-container {
    position: relative;
    max-width: 530px;
    margin: 24px auto;

    img {
      position: relative;
      z-index: 10;
    }

    video {
      position: absolute;
      z-index: 1;
      aspect-ratio: 16/9;
    }
  }
}

.landing-footer-container {
  background-color: black;
  text-align: center;
  padding: 24px;
}

.landing-footer-subtitle {
  font-size: 18px;
  font-weight: bold;
}

.landing-contact-list-item {
  display: flex;
  gap: 10px;
  justify-content: center;

  svg {
    width: 24px;
    height: 24px;
  }

  a:hover {
    @apply text-red-600;
    transition: 300ms;
  }
}

@media (min-width: 1024px) {
  .landing-bg-image {
    height: 100vh;
  }

  .landing-section {
    padding: 72px 32px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    text-align: left;

    h2 {
      font-size: 48px;
      font-weight: 900;
    }

    p {
      font-size: 24px;
    }

    .landing-img-container {
      margin: auto;
    }
  }

  .landing-footer-container {
    text-align: left;
  }

  .landing-contact-list-item {
    justify-content: left;
  }
}
