.container {
  width: 100%;
  position: relative;
  margin-bottom: 30px;
}

.leftArrow,
.rightArrow {
  position: absolute;
  top: 0;
  height: 100%;
  opacity: 0;
  transition: 150ms;
  outline: none;
  display: none;
}

.leftArrow:hover,
.rightArrow:hover {
  @apply text-red-600;
}

.container:hover {
  .leftArrow,
  .rightArrow {
    opacity: 1;
  }
}

.leftArrow {
  left: 0;
  background-image: linear-gradient(to right, rgb(0 0 0 / 0.3), rgb(0 0 0 / 0));
  padding-right: 10px;
}

.rightArrow {
  right: 0;
  background-image: linear-gradient(to left, rgb(0 0 0 / 0.5), rgb(0 0 0 / 0));
  padding-left: 10px;
}

.slidesContainer {
  display: flex;
  gap: 20px;
  overflow-x: scroll;
  padding: 5px 0;
  height: 250px;
}

.slidesContainer a {
  flex-shrink: 0;
  flex-grow: 0;
  height: 100%;
  width: 170px;
}

.slidesContainer a:first-child {
  margin-left: 16px;
}

.slidesContainer a:last-child {
  margin-right: 16px;
}

@media (width > 768px) {
  .slidesContainer {
    height: 280px;
  }

  .slidesContainer a {
    width: 190px;
  }

  .slidesContainer a:first-child {
    margin-left: 40px;
  }

  .slidesContainer a:last-child {
    margin-right: 40px;
  }

  .leftArrow,
  .rightArrow {
    display: block;
  }
}
