.posters-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 0.5rem;
  row-gap: 18px;
}

@media (min-width: 640px) {
  .posters-grid {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media (min-width: 768px) {
  .posters-grid {
    grid-template-columns: repeat(5, 1fr);
  }
}

@media (min-width: 1024px) {
  .posters-grid {
    grid-template-columns: repeat(6, 1fr);
    column-gap: 0.75rem;
    row-gap: 22px;
  }
}
